<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/mvc   
    http://www.springframework.org/schema/mvc/spring-mvc.xsd 
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx 
 	http://www.springframework.org/schema/tx/spring-tx.xsd    
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="net.zdsoft.framework.config.UTF8StringHttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>

	<context:annotation-config />

	<context:component-scan base-package="net.zdsoft.**.action"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<context:property-placeholder location="classpath*:conf/*.properties" />

	<!-- 配置freeMarker的模板路径 -->
	<bean class="net.zdsoft.framework.config.EisFreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/" />
		<property name="freemarkerVariables">
			<map>
				<entry key="resourceUrl" value="${eis_resource_url}"></entry>
				<entry key="webUrl" value="${eis_web_url}"></entry>
			</map>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">0.######</prop>
				<prop key="whitespace_stripping">true</prop>
			</props>
		</property>
	</bean>
	<!-- freemarker视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value="" />
		<property name="cache" value="true" />
		<property name="order" value="2" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<!-- 此变量值为pageContext.request, 页面使用方法：req.contextPath -->
		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="exposeRequestAttributes" value="true" />
		<property name="exposeSessionAttributes" value="true" />
		<property name="requestContextAttribute" value="request" />
	</bean>

	<!-- interceptor setting -->
	<mvc:interceptors>
		<bean class="net.zdsoft.framework.interceptor.CommonHandlerInterceptor">
			<property name="excludeUrls">
				<list>
					<value>/homepage/login</value>
					<value>/homepage/loginUser</value>
					<value>/homepage/loginPage</value>
				</list>
			</property>
			<property name="excludePaths">
				<list>
					<value>/common/</value>
					<value>/open/</value>
					<value>/openapi/</value>
					<value>/remote/</value>
				</list>
			</property>
		</bean>
	</mvc:interceptors>
</beans>