<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/data/jpa
	http://www.springframework.org/schema/data/jpa/spring-jpa.xsd 
	http://www.springframework.org/schema/cache
	http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
	http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring 
	http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee/spring-jee.xsd"
	default-lazy-init="true">

	<bean id="mcodeDetailService"
		class="net.zdsoft.basedata.common.service.impl.McodeDetailServiceImpl"></bean>
	<bean id="regionService"
		class="net.zdsoft.basedata.common.service.impl.RegionServiceImpl"></bean>
	<!-- 
	<bean id="mcodeDetailRemoteService"
		class="net.zdsoft.basedata.remote.service.impl.McodeDetailRemoteServiceImpl"></bean>
	<bean id="studentRemoteService"
		class="net.zdsoft.basedata.remote.service.impl.StudentRemoteServiceImpl"></bean>
	<bean id="systemIniRemoteService"
		class="net.zdsoft.basedata.remote.service.impl.SystemIniRemoteServiceImpl"></bean>
	<bean id="subSystemRemoteService"
		class="net.zdsoft.basedata.remote.service.impl.SubSystemRemoteServiceImpl"></bean>
	 -->
</beans>